html {
  height: 100%;
}


.sunny {
  background-image: linear-gradient(#ebb022, #ed7300);
}


.unit {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.nav-link {
  color: white;
}

body {
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.react-tabs__tab-list {
  margin-bottom:0px;
  padding: 0.25rem 0.75rem;
}

.react-tabs__tab {
  display: none;
  list-style: none;
  color: snow;
  font-size: 1.2em;
  padding-bottom: 5px;
}

.react-tabs__tab--selected {
  display: inline-block;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}

.homeContent {
  padding-top: 40px;
}

.indicator {
  padding-left: 0.75rem;
}

.indicator > span {
  padding-right: 0.5px;
}

.indicatorIcon path{
  fill: snow;
  transform: scale(0.25);
}

#ttemp {
  font-size: 5.4em;
}

.high-low span {
  font-size:0.9em;
  font-weight: bold;
}

.material-icons {
  vertical-align: middle;
}

.muted {
  color:#e6e6e6ad;
}

#condition {
  font-size: 1.2em;
  margin-bottom: 5px;
}

#topSummary {
  margin-left: 0px;
}

#headerImage {
  position: fixed;
  top:0px;
  transform:scale(0.4);
}

hr {
  border-top-width: 1px;
  border-top-color:#e6e6e678;
}
