
$day-start: #ebb022;
$day-end: #ed7300;
$night-start: #93b5df;
$night-end: #2f52a6;
$muted: #e6e6e6ad;
$white: snow;
$gray:#e6e6e678;


.daytime {
  background-image: linear-gradient($day-start, $day-end);
}

.daytime-reverse {
  background-image: linear-gradient($day-end, $day-start);
}

.nighttime {
  background-image: linear-gradient($night-start, $night-end);
}

.nighttime-reverse {
  background-image: linear-gradient($night-end, $night-start);
}

.nav-link {
  color: $white;
}

.loading {
  height: 100vh;
}

html {
  height: 100%;
}

body {
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.react-tabs__tab-list {
  margin-bottom:0px;
  padding: 0.25rem 0.75rem;
}

.react-tabs__tab {
  display: none;
  list-style: none;
  color: $white;
  font-size: 1.2em;
  padding-bottom: 5px;
}

.react-tabs__tab--selected {
  display: inline-block;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}

.homeContent {
  padding-top: 40px;
}

.indicator {
  padding-left: 0.75rem;
  > span {
    padding-right: 0.5px;
  }
}

.indicatorIcon path{
  fill: $white;
  transform: scale(0.25);
}

#ttemp {
  font-size: 5.4em;
}

.high-low p {
  font-size:0.9em;
  font-weight: bold;
}

.material-icons {
  vertical-align: middle;
}

.muted {
  color:$muted;
}

#condition {
  font-size: 1.2em;
  margin-bottom: 5px;
  white-space:nowrap;
}

#topSummary {
  margin-left: 0px;
}

#headerImage {
  position: absolute;
  right:-80%;
  width: initial;
}

hr {
  border-top-width: 1px;
  border-top-color:$gray;
}

.left-edge {
  padding-left:0.75rem;
}

#weekTemp {
  scrollbar-width: none;
  border-collapse: separate;
  border-spacing: 0 5px;
  &::webkit-scrillbar {
    display: none;
  }
  tr th:first-child{
    padding-left: 0px;
  }
  td {
    font-size: 1.2em;
    font-weight: bold;
  }
  th {
    padding-right: 2rem;
    color:$gray;
    font-size: 0.8em;
    white-space: nowrap;
  }

}

#dailyTemp {
  border-collapse: separate;
  border-spacing: 0 5px;
  font-size: 1.2em;
  .row *:first-child {
    padding-left: 0px;
  }
  .humidity {
    font-size: 0.8em;
    color:$gray;
  }
  td path {
    color:$gray;
  }

}

#condition-bg {
  max-width: none;
  width: 100vw;
  position: absolute;
  left: 0;
}

#conditionSummary {
  padding-left:0.75rem;
  padding-top: 40px;
  .row {
    font-size: 1.6em;
  }
  .heading {
    color:$gray;
    font-size:1em;
  }
}

.unit {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

